<div class="basecard-item content-margin">
    {{ $quotes := split (.Get "quote") ";" }}
    {{ $comments := split (.Get "comment") ";" }}
    {{ $sources := split (.Get "source") ";" }}

    <!-- 遍历每条引用 -->
    {{ range $index, $quote := $quotes }}
    <div class="quote-item">
        <!-- 每条引用 -->
        <div class="basecard-title" style="font-size: 0.9em;line-height: 1.2em;;">
            {{ $quote }}
        </div>

        <!-- 每条引用的出处 -->
        {{ if and (lt $index (len $sources)) (ne (trim (index $sources $index) " ") "") }}
        <div class="basecard-summary"
            style="text-align: right; font-size: 0.8em; margin-top: 0.3rem; margin-bottom: 0;">
            — {{ index $sources $index }}
        </div>
        {{ end }}



        <!-- 如果有相应的评论 -->
        {{ if lt $index (len $comments) }}
        <div class="basecard-metadata" style="font-size: 0.75em; color: #777;margin-top: 0.3rem;">
            {{ index $comments $index }}
        </div>
        {{ end }}

        <!-- 分隔线（仅在当前引用不是最后一条时显示） -->
        {{ if lt $index (sub (len $quotes) 2) }}
        <hr style="border: none; border-top: 1px solid #ddd; margin: 1em 0;">
        {{ end }}
    </div>
    {{ end }}
</div>
